.dark {
    background-color: rgb(39, 39, 39);
    h1 {
        background-color: rgb(19, 19, 19);
        color: rgb(170, 170, 170);
        border-color: black;
    }
    
    .item {
        background-color: rgb(19, 19, 19);
        border-color: black;
        h2, p {
            color: rgb(230, 230, 230);
        }
    }

    button {
        background-color: whitesmoke;
        color: black;
        &:hover {
          background-color: rgb(195, 195, 195)
        }
    }
}